.header--white {

  & .logo {
    display: block;
    
    @media (min-width: $lg) {
      display: none;
    }
  }

  & .logo--white {
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }
}
