$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// COLORS
$blue: #072762;
$light-blue: #022086;
$dark-blue: #152F60;
$red: #C30700;
$yellow: #D6C247;
$gray: #D7D7DE;
$light-gray: #F7F8FA;
$dark-gray: #707070;