.contact {
  position: relative;
  display: grid;
  height: 410px;
  margin: 0 -15px;
  padding: 40px 15px;
  background-color: #022086;
  color: #fff;
  clip-path: polygon(0 0, 65% 0%, 100% 13%, 100% 100%, 35% 100%, 0 87%);

  @media (min-width: $sm) {
    padding: 40px 20px;
    margin: 0 -20px;
    clip-path: polygon(0 0, 75% 0%, 100% 13%, 100% 100%, 25% 100%, 0 87%);
  }

  @media (min-width: $md) {
    padding: 45px 25px;
    margin: 0 -25px;
    clip-path: polygon(0 0, 85% 0%, 100% 13%, 100% 100%, 15% 100%, 0 87%);
  }

  @media (min-width: $lg) {
    margin: 0;
    margin-right: -16px;
    padding: 45px 35px;
  }

  @media (min-width: $xl) {
    height: 420px;
    margin-right: -70px;
    padding: 40px;
    clip-path: polygon(0 0, 87% 0%, 100% 18%, 100% 100%, 13% 100%, 0 82%);
  }

  @media (min-width: $xxl) {
    height: auto;
    height: 830px;
    margin-right: -180px;
    padding: 125px 85px;
    clip-path: polygon(0 0, 60% 0%, 100% 40%, 100% 100%, 20% 100%, 0 80%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-contact.svg');
    background-position: right center;
    background-size: auto 350px;
    background-repeat: no-repeat;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }
  
  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
  
    @media (min-width: $xxl) {
      margin-bottom: 110px;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__tagline {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  
    @media (min-width: $xxl) {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__item {
    display: grid;
    font-size: 16px;
    line-height: 20px;

    @media (min-width: $xxl) {
      font-size: 24px;
      line-height: 28px;
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;

      @media (min-width: $xxl) {
        margin-bottom: 30px;
      }
    }
  
    & b {
      text-transform: uppercase;
    }
  }

  &__social {
    margin-top: 25px;

    @media (min-width: $xxl) {
      margin-top: 50px;
    }
  }
}


